<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Dibidibidip:::동작따라하기</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" />
  <!-- Custom Google font-->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />
  <!-- Bootstrap icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link th:href="@{/css/styles.css}" rel="stylesheet" />
  <!-- Posenet -->
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@3.11.0/dist/tf.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/posenet@2.2.2/dist/posenet.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-core@3.11.0/dist/tf-core.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-converter@3.11.0/dist/tf-converter.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-backend-webgl@3.11.0/dist/tf-backend-webgl.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/pose-detection@0.0.6/dist/pose-detection.min.js"></script>
</head>

<body class="d-flex flex-column h-100 bg-black">
  <main class="flex-shrink-0">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-black py-3">
      <div class="container px-5">
        <a class="navbar-brand" href="/home"><span class="fw-bolder text-primary">Dibidibidip</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
            <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/game/main">Create</a></li>
            <li class="nav-item"><a class="nav-link" href="/game/enter">Enter</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <section class="py-5">
      <div class="container px-5 mb-5">
        <div class="text-center mb-5">
          <h1 class="display-5 fw-bolder mb-5"><span class="text-gradient d-inline">동작 따라하기</span></h1>
        </div>
        <div class="row gx-5 justify-content-center">
          <div class="col">
              <video id="video" style="position: absolute;" width="640" height="480" autoplay muted playsinline></video>
              <canvas id="canvas" style="position: absolute;"></canvas>
          </div>
          <div class="col">
            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
              <h5 class="card-header">따라해보세요</h5>
              <div class="card-body p-0">
                hello
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

</body>
<!-- Place your code in the script tag below. You can also use an external .js file -->
<script>
  const video = document.getElementById('video');
  const canvas = document.getElementById("canvas");
  const context = canvas.getContext("2d");

  navigator.mediaDevices.getUserMedia({ video: true, audio: false })
          .then(function (stream) {
            video.srcObject = stream;
          });

  posenet.load().then(model => {
    video.onloadeddata = (e) => {
      predict();
    }
    function predict() {
      model.estimateSinglePose(video).then(pose => {
        canvas.width = video.width;
        canvas.height = video.height;
        drawKeypoints(pose.keypoints, 0.6, context);
        drawSkeleton(pose.keypoints, 0.6, context);
      });
      requestAnimationFrame(predict);
    }
  })

  const color = 'aqua';
  const boundingBoxColor = 'red';
  const lineWidth = 2;

  function toTuple({ y, x }) {
    return [y, x];
  }

  function drawPoint(ctx, y, x, r, color) {
    ctx.beginPath();
    ctx.arc(x, y, r, 0, 2 * Math.PI);
    ctx.fillStyle = color;
    ctx.fill();
  }

  /**
   * Draws a line on a canvas, i.e. a joint
   */
  function drawSegment([ay, ax], [by, bx], color, scale, ctx) {
    ctx.beginPath();
    ctx.moveTo(ax * scale, ay * scale);
    ctx.lineTo(bx * scale, by * scale);
    ctx.lineWidth = lineWidth;
    ctx.strokeStyle = color;
    ctx.stroke();
  }

  /**
   * Draws a pose skeleton by looking up all adjacent keypoints/joints
   */
  function drawSkeleton(keypoints, minConfidence, ctx, scale = 1) {
    const adjacentKeyPoints =
            posenet.getAdjacentKeyPoints(keypoints, minConfidence);

    adjacentKeyPoints.forEach((keypoints) => {
      drawSegment(
              toTuple(keypoints[0].position), toTuple(keypoints[1].position), color,
              scale, ctx);
    });
  }

  /**
   * Draw pose keypoints onto a canvas
   */
  function drawKeypoints(keypoints, minConfidence, ctx, scale = 1) {
    for (let i = 0; i < keypoints.length; i++) {
      const keypoint = keypoints[i];

      if (keypoint.score < minConfidence) {
        continue;
      }

      const { y, x } = keypoint.position;
      drawPoint(ctx, y * scale, x * scale, 3, color);
    }
  }

  /**
   * Draw the bounding box of a pose. For example, for a whole person standing
   * in an image, the bounding box will begin at the nose and extend to one of
   * ankles
   */
  function drawBoundingBox(keypoints, ctx) {
    const boundingBox = posenet.getBoundingBox(keypoints);

    ctx.rect(
            boundingBox.minX, boundingBox.minY, boundingBox.maxX - boundingBox.minX,
            boundingBox.maxY - boundingBox.minY);

    ctx.strokeStyle = boundingBoxColor;
    ctx.stroke();
  }
</script>

</html>